.About {
  margin-top: 100px;
  /* margin-bottom: 150px; */
  color: #03383c;
}
.AboutCompany {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
  gap: 30px;
}
.AboutText {
  width: 40%;
}
.AboutText h1 {
  font-size: 50px;
}
.AboutText p {
  font-size: 20px;
  line-height: 2em;
  margin-top: 2em;
}
.AboutImage {
  width: 40%;
  position: relative;
  overflow: hidden;
}
.AboutImage img {
  width: 100%;
  object-fit: cover;
  height: 80vh;
}
.overlayTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #03383c69;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}
.AboutImage:hover .overlayTwo {
  width: 600%;
  left: 100%;
  right: 0;
}

.OurTeam,
.Production {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3em 0;
}
.OurTeam h1,
.Production h1 {
  font-size: 3.5em;
}
.OurTeam p,
.Production p {
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.TeamMembers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
}
.Card {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Cardimage {
  position: relative;
  width: 100%;
}
.Cardimage img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.overlay {
  background-image: url("../../images/overlay1.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  width: 100%;
}
.Icons {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: 0;
  bottom: 0rem;
  opacity: 0;
  transition: all 1s ease;
}
.Icons .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.IndiIcons {
  background-color: aliceblue;
  padding: 3px 8px;
  font-size: 22px;
  color: #03383c;
}
.IndiIcons:hover {
  background-color: #03383c;
  color: aliceblue;
}
.Cardimage:hover .overlay {
  display: block;
}
.Cardimage:hover .Icons {
  bottom: 2rem;
  opacity: 1;
}
.Card:nth-child(1) .Cardimage img {
  object-fit: cover;
  object-position: 80% 100%;
}
.Card:nth-child(2) .Cardimage img {
  object-fit: cover;
  object-position: 30% 100%;
}
.Cardtext {
  margin-top: 1rem;
}
.Cardtext p {
  color: grey;
  font-size: 15px;
}
@media only screen and (max-width: 1000px) {
  .TeamMembers {
    flex-wrap: wrap;
  }
  .Card {
    width: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .OurTeam p {
    font-size: 15px;
  }
  .Card {
    width: 80%;
  }
  .Cardimage img,
  .Cardimage {
    height: 250px;
  }
  .Cardtext,
  .Cardtext p {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
}
/* Production */

.gridContainer {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; /* First row with auto height, second row with auto height */
  gap: 10px; /* Adjust the gap between grid items */
}

.gridItem {
  border: 1px solid black;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: none;
}

.gridItem.firstItem {
  grid-row: span 2; /* This spans the first item over 2 rows */
}
.gridItem.secondItem {
  grid-column: span 2; /* This spans the second item over 2 columns */
}

/* .grid-item.first-item { */
/* grid-column: span 3; This spans the first item over 3 columns */
/* } */
.gridItem.firstItem img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.4);
  transition: all ease-in-out 0.25s;
}
.gridItem.firstItem:hover img {
  transform: scale(1.3);
}

.gridItem.secondItem img {
  width: 100%;
  object-fit: contain;
  transform: scale(1.2);
  transition: all ease-in-out 0.25s;
}

.gridItem.secondItem:hover img {
  transform: scale(1);
}

.gridItem img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: all ease-in-out 0.25s;
}

.gridItem:hover img {
  transform: scale(1);
}
.GridOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.222);
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.gridItem:hover .GridOverlay {
  opacity: 1;
}
.GridText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secondItem {
  height: 300px;
}

.thirdItem,
.fourthItem {
  height: 300px;
}

@media only screen and (max-width: 1200px) {
  .gridItem.firstItem {
    grid-column: span 3;
    grid-row: span 1;
    height: 70vh;
  }
  .gridItem.secondItem {
    height: 70vh;
    grid-column: span 3;
    object-fit: cover;
  }
  .secondItem img,
  .thirdItem img {
    height: 100%;
  }
  .gridItem.thirdItem {
    height: 70vh;
    grid-column: span 3;
    object-fit: cover;
  }
  .gridItem.fourthItem {
    height: 70vh;
    grid-column: span 3;
  }
}
@media only screen and (max-width: 1100px) {
  .AboutCompany {
    flex-wrap: wrap;
  }
  .AboutText {
    width: 80%;
  }
  .AboutImage {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .gridItem.firstItem {
    grid-column: span 3;
    grid-row: span 1;
    height: 50vh;
  }
  .gridItem.secondItem {
    height: 50vh;
    grid-column: span 3;
    object-fit: cover;
  }
  .secondItem img {
    height: 100%;
  }
  .gridItem.thirdItem {
    height: 50vh;
    grid-column: span 3;
  }
  .gridItem.fourthItem {
    height: 50vh;
    grid-column: span 3;
  }
}
