.Button {
  background-color: #7e8865;
  color: white;
  border: none;
  /* width: 100%; */
  /* width: fit-content; */
  font-family: "Cagliostro", sans-serif;
  padding: 10px 20px;
  transition: all 0.5s ease;
  margin: 5px 0;
}
.Button:hover {
  background-color: black;
}
