.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cardImage {
  width: 40%;
  /* width: 270px; */
  margin-bottom: 1em;
  position: relative;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  z-index: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #03383c59;
  overflow: hidden;
  visibility: hidden;
  height: 100%;
  z-index: 1;
}
.cardImage:hover .overlay,
.cardImage:hover .text {
  visibility: visible;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  display: flex;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  z-index: 2;
}
.cardImage:hover img {
  opacity: 0.5;
}
.cardImage:hover .middle {
  opacity: 1;
}
.v1 {
  border-left: 2px solid whitesmoke;
  height: 30px;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
  color: whitesmoke;
}
.Icons:hover {
  color: #03383c;
}

/* modal */
.modalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModalImageDiv {
  width: 55%;
}
.ModalTextDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.ProductButton {
  border: none;
  color: #03383c;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: white;
  text-align: left;
}
.ModalTextDiv h3 {
  font-size: 35px;
}
.ModalTextDiv span {
  font-size: 23px;
}
.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  padding: 4px 0px;
  margin: 2px 0px;
}

.countHandler button {
  padding: 4px 10px;
  margin: 2px 0px;
  background-color: whitesmoke;
  border: 1px solid black;
}
