.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cardImage {
  width: 40%;
  /* width: 270px; */
  margin-bottom: 1em;
  position: relative;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  z-index: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #03383c59;
  overflow: hidden;
  visibility: hidden;
  height: 100%;
  z-index: 1;
}
.cardImage:hover .overlay,
.cardImage:hover .text {
  visibility: visible;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  display: flex;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  z-index: 2;
}
.cardImage:hover img {
  opacity: 0.5;
}
.cardImage:hover .middle {
  opacity: 1;
}
.v1 {
  border-left: 2px solid whitesmoke;
  height: 30px;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
  color: whitesmoke;
}
.Icons:hover {
  color: #03383c;
}

.model {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  transition: opacity 0s ease, visibility 0s ease, transform 0s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}

.SideCart {
  position: fixed;
  width: 30%;
  right: -40%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
}
.model.open .SideCart {
  right: 0%;
  transition: all 0.88s ease-in;
}
