.Shop {
  margin-top: 7em;
  width: 100%;
  margin-bottom: 2em;
}
.OuterShop {
  display: flex;
  font-size: 23px;
  justify-content: center;
}
/* Left Section */
.LeftSection {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 1em;
}
.LeftCategorySection {
  width: 100%;
}
.LeftSection hr {
  height: 1px;
  color: black;
}
.ListElement {
  display: flex;
  justify-content: space-between;
}
.ListElement:hover {
  color: #7e8865;
}
.innerList {
  font-size: 20px;
  line-height: 2em;
}
.innerList li:hover {
  color: #7e8865;
}
.LeftCategorySection p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  width: 100%;
}
.PriceDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: #7e8865;
  font-family: "Montserrat", sans-serif;
}
.Price {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.PriceInput {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.PriceInput input {
  padding: 7px 7px 7px 15px;
}
.PriceDiv button {
  background-color: #7e8865;
  color: white;
  border: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  transition: all 1s ease;
}
.PriceDiv button:hover {
  background-color: black;
}
/* Right Section */
.RightSection {
  width: 70%;
  padding: 0 1.5em;
}
.SortDiv {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.Category select {
  padding: 5px 5px;
}
.Views {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr; /* One row, two columns */
  border-collapse: collapse;
}
.GridView,
.ListView {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.GridView {
  border-right: 1px solid black;
}
.active {
  background-color: #7e8865;
  color: white;
}
.DisplayProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.EachProduct {
  width: 30%;
}
.ListProduct {
}

.model {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  transition: opacity 0s ease, visibility 0s ease, transform 0s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}

.SideCart {
  position: fixed;
  width: 30%;
  right: -40%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
}
.model.open .SideCart {
  right: 0%;
  transition: all 0.88s ease-in;
}

/* swiper */
.swiper {
  width: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
