.productSection {
  background-color: rgb(217 223 215);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0 2em 0;
  color: #03383c;
  overflow: hidden;
}
.LeftDiv {
  width: 50%;
  height: 90vh;
  position: relative;
  z-index: 990;
}
.LeftDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 98%;
}
.RightDiv {
  width: 50%;
  z-index: 990;
}
.productName {
  font-family: "Cagliostro", sans-serif;
  position: absolute;
  left: 18%;
  bottom: 0%;
  color: #03383c;
  font-size: 35px;
}
.productPrice {
  font-family: "Cagliostro", sans-serif;
  position: absolute;
  left: 5%;
  top: 10%;
  color: #03383c;
  font-size: 35px;
  width: 35%;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  z-index: 990;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background-color: rgb(217 223 215);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardImage {
  height: 320px;
  /* width: 100%; */
  width: 270px;
  margin-bottom: 1em;
  position: relative;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  color: white;
  font-size: 30px;
  display: flex;
}
.cardImage:hover img {
  opacity: 0.5;
}
.cardImage:hover .middle {
  opacity: 1;
}
.v1 {
  border-left: 2px solid whitesmoke;
  height: 30px;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
  color: whitesmoke;
}
.Icons:hover {
  color: #03383c;
}

/* .FixedSection {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.166);
} */

/* Cart */
.model {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  transition: opacity 0s ease, visibility 0s ease, transform 0s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}

.SideCart {
  position: fixed;
  width: 30%;
  right: -40%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
}
.model.open .SideCart {
  right: 0%;
  transition: all 0.88s ease-in;
}

@media only screen and (max-width: 1200px) {
  .productSection {
    display: none;
  }
}
