/* Responsive Navbar */

.navbar {
  /* background-color: transparent; */
  /* background-color: whitesmoke; */
  height: 80px;
  display: flex;
  align-items: center;
  /* margin-top: 4%; */
  width: 100%;
  justify-content: center;
  font-family: "Cagliostro", sans-serif;
  z-index: 998;
}

/* Responsive Navbar */
.menubars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
}
.navmenu {
  background-color: whitesmoke;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 998;
}
.navmenu.active {
  left: 0;
  transition: 350ms;
}
.listitem:hover {
  background-color: #7e886565;
}
.navText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px 8px 16px;
  list-style: none;
  height: 60px;

  font-family: "Cagliostro", sans-serif;
}

.navText a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.navText:hover a {
  color: #7e8865;
}
.navMenuItems {
  width: 100%;
  padding-left: 0px;
  list-style: none;
  margin: 0px;
  overflow-y: scroll;
}
.navbarToggle {
  background-color: whitesmoke;
  width: 100%;
  height: 80px;
  display: flex;
  /* justify-content: start; */
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 10px;
}
/* .navMenuItems li:not(:first-child) {
    padding: 20px 0px;
  } */
/* Navbar */
.logo {
  padding-top: 15px;
}
.logo a {
  font-size: 30px;
  color: #7e8865;
  text-decoration: none;
}

.topmenu {
  /* background-image: url(../images/backgrounds/navbar3.png); */
  background-size: contain;
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  background-color: whitesmoke;
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  /* position: fixed; */
}
.topmenu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: transparent; */
  /* background-color: whitesmoke; */
  z-index: 998;
}
.menubars {
  display: none;
  /* background: black; */
  color: white;
  /* padding: 8px 7px 0px 8px; */
}
.listitem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
}
.listitem span {
  text-transform: uppercase;
}
.listitem a {
  color: black;
  text-decoration: none;
}
.listitem:hover {
  color: #03383c;
}
.listitem:hover a {
  color: #03383c;
}
.color {
  color: #03383c;
}
.colorBlack {
  color: black;
}
.droplistitem {
  padding: 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.droplistitem:hover {
  list-style-type: disc; /* Set the list style to a filled circle on hover */
  color: #03383c; /* Set the color to green on hover */
}
.droplistitem:hover a {
  color: #03383c;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 2.5rem; */
}
.text .navitem {
  text-decoration: none;
  margin: 0 2rem;
  font-size: 20px;
  color: #03383c;
  /* padding-bottom: 10px; */
}

.text .navitem:hover {
  /* color: #0abab5; */
  color: #7e8865;
}

.dropdownItem {
  display: block;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #03383c;
  background-color: whitesmoke;
  border-bottom: 2px solid rgba(128, 128, 128, 0.472);
}

.dropdownItem:hover {
  color: #7e8865;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  min-width: 180px;
  line-height: 1.5em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* margin-top: 10px; */
  border-top: 2px solid #7e8865;
  font-size: 18px;
}

.dropdownContainer:hover .dropdownContent,
.dropdownContainer:focus .dropdownContent {
  display: block;
}

#button {
  background-color: #7e8865;
  color: white;
  border: none;
  padding: 10px 15px;
  border: 2px solid whitesmoke;
  font-family: "Cagliostro", sans-serif;

  border-radius: 10px;
  text-transform: capitalize;
  /* font-size: 15px; */
}

#button:hover {
  /* background-color:  #7e8865; */
  background-color: whitesmoke;
  border: 2px solid #03383c;
  color: #03383c;
}
/*  */

.dropdownCContent {
  display: none;
  /* position: absolute; */
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Style the links inside the dropdown */
.dropdownCContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdownCContent a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when the corresponding link is clicked */
.Aactive {
  display: initial;
}
.Icons {
  display: flex;
  /* width: 8%; */
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.navitem {
  border-bottom: 1px solid transparent;
}
.text {
  margin-top: 15px;
}
.text a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin-bottom: 10px;
  background-color: #7e8865;
  border-radius: 5px;
}
.text a:hover::after {
  width: 100%;
  transition: all 0.5s;
}
/* .navitem:hover {
  border-bottom: 2px solid #03383c;
} */

/* .text {
  position: relative;
}
.text a:after,
.text .dropdownContainer a:after {
  content: "";
  display: block;
  border-bottom: 3px solid #4299e1;
  width: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition-delay: 0s;
} */
/*Cart  */
.model {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  transition: opacity 0s ease, visibility 0s ease, transform 0s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}

.SideCart {
  position: fixed;
  width: 30%;
  right: -40%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
}
.model.open .SideCart {
  right: 0%;
  transition: all 0.88s ease-in;
}

@media only screen and (max-width: 1050px) {
  .navbar {
    justify-content: space-between;
  }
  .menubars {
    display: initial;
  }
  .text {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .SideCart {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .SideCart {
    width: 60%;
  }
}
@media only screen and (max-width: 410px) {
  .SideCart {
    width: 80%;
  }
}
@media only screen and (max-width: 340px) {
  .SideCart {
    width: 95%;
  }
}
@media only screen and (max-width: 280px) {
  .SideCart {
    width: 100%;
  }
}
