.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 3px 3px 3px #aaaaaa47; */
  padding: 10px 20px;
  margin: 10px 0;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardImage {
  height: 320px;
  /* width: 100%; */
  width: 270px;
  margin-bottom: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShopStyle {
  height: 320px;
  /* width: 100%; */
  width: 270px;
  margin-bottom: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  z-index: 0;
  margin: 0px 2px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #03383c59;
  overflow: hidden;
  visibility: hidden;
  height: 100%;
  z-index: 1;
}
.cardImage:hover .overlay,
.cardImage:hover .text {
  visibility: visible;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  display: flex;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  z-index: 2;
}
.cardImage:hover img {
  opacity: 0.5;
}
.cardImage:hover .middle {
  opacity: 1;
}
.v1 {
  border-left: 2px solid whitesmoke;
  height: 30px;
}
.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
  color: whitesmoke;
}
.Icons:hover {
  color: #03383c;
}
.model {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  transition: opacity 0s ease, visibility 0s ease, transform 0s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  /*   
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; */
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}
.SideCart {
  position: fixed;
  width: 30%;
  right: -40%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
}
.model.open .SideCart {
  right: 0%;
  transition: all 0.88s ease-in;
}

.modalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModalImageDiv {
  width: 55%;
}
.ModalTextDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ProductButton {
  border: none;
  color: #03383c;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: white;
  text-align: left;
}
.ProductButton:hover {
  text-decoration: underline;
}
.ModalTextDiv h3 {
  font-size: 35px;
}
.ModalTextDiv span {
  font-size: 23px;
}
.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  padding: 4px 0px;
  margin: 2px 0px;
}

.countHandler button {
  padding: 4px 10px;
  margin: 2px 0px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.CrossPrice {
  text-decoration: line-through;
  font-size: 18px;
  margin: 0;
}
.CardAction button {
  background-color: #7e8865;
  color: white;
  border: 1px solid #03383c;
  padding: 5px 20px;
}

@media only screen and (max-width: 610px) {
  .cardImage img {
    width: 70%;
  }
  .cardBody p {
    font-size: 20px;
  }
  .cardBody h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 490px) {
  .cardImage {
    height: 250px;
    width: 200px;
  }
  .cardBody p {
    font-size: 16px;
    margin: 1px;
  }
  .cardBody h2 {
    font-size: 20px;
  }
  .cardImage {
    margin-bottom: 0;
  }
  .card {
    margin: 0;
  }
}
@media only screen and (max-width: 490px) {
  .cardBody h2 {
    font-size: 17px;
  }
  .cardBody p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .cardImage {
    height: 340px;
    width: 250px;
  }
  .cardBody p {
    font-size: 18px;
    margin: 1px;
  }
  .cardBody h2 {
    font-size: 23px;
  }
}
