.RightSection {
  width: 80%;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
.RightTopHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.534);
}
.RightTopHeader h1 {
  color: #7e8865;
  font-family: "Cagliostro", sans-serif;
}
