/* .SideCart {
  position: fixed;
  width: 30%;
  right: -100%;
  top: 0%;
  background-color: rgb(217 223 215);
  padding: 12px;
  z-index: 999;
}
.model.open .SideCart {
  right: 0%;
} */
#CartH2 {
  text-align: center;
}
.image img {
  height: 130px;
  width: 100px;
}
.Card {
  margin: 1.5em;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.Card .CardCloseButton {
  background-color: #7e8865;
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: hidden;
  padding: 2px 5px;
}
.Card:hover .CardCloseButton {
  visibility: initial;
}
.text p {
  margin: 0;
}
.spinner {
  display: flex;
  flex-direction: row;
}
.spinnerElement {
  padding: 10px 15px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.Amount {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 2px 20px;
}
.CloseButton {
  position: absolute;
  top: 0;
  left: 0%;
  background-color: #03383c;
  padding: 10px 11px;
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer button,
.EmptyCart button {
  background-color: #7e8865;
  color: white;
  border: none;
  padding: 15px 20px;
  width: 60%;
}
.hide {
  display: none;
}
.EmptyCart {
  text-align: center;
}

/* spinner */
.spinner {
  display: flex;
  flex-direction: row;
}
.spinnerElement {
  padding: 10px 15px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  padding: 4px 0px;
  margin: 2px 0px;
}

.countHandler button {
  padding: 4px 10px;
  margin: 2px 0px;
  background-color: whitesmoke;
  border: 1px solid black;
}
